---
import { Link } from '@/components/ui/link';
import { Image } from 'astro:assets';
---

<section
  class='flex flex-col md:flex-row items-center w-11/12 max-md:pt-10 pb-20 mx-auto max-w-5xl'
>
  <figure class='max-lg:w-full p-4 md:p-0'>
    <Image
    width={512}
    height={480}
    loading='lazy'
    decoding='async'
    class='lg:mr-auto aspect-square object-cover rounded'
    src='/coming-soon.png'
    alt='A portrait of Rizki with his PC in the background'
    title='A portrait of Rizki with his PC in the background'
/>

    <figcaption class='text-sm font-medium text-neutral-400 pt-2'>
      <em>Made with Inkscape | Credits: Arjun </em>
    </figcaption>
  </figure>

  <div class='w-full pt-6 sm:pt-8 md:pt-0 lg:pl-40'>
    <h2 class='text-4xl pb-6 md:pb-8 font-bold 2xl:text-5xl'>Why Participate ?  </h2>

    <div class='max-w-2xl text-neutral-100 space-y-4 md:space-y-6'>
      <p class='text-neutral-400 font-medium'>
        A week-long <code class='bg-secondary text-secondary-foreground py-0.5 px-1 rounded'>FOSS-based hackathon</code
          > where you get to build impactful solutions, explore open-source technologies, and contribute to the community.
      </p>

      <p class='text-neutral-400 font-medium'>
        ✅ Exciting Prize Pool – Win amazing rewards for your creativity! 
      </p>
      <p class='text-neutral-400 font-medium'>
        ✅ Exclusive Swag – Stickers, goodies, and more!
      </p>
      <p class='text-neutral-400 font-medium'>
        ✅ Expand Your Network – Meet like-minded tech enthusiasts and industry experts.
      </p>

      <p class='text-neutral-400 font-medium'>
        ✅ Certification for All Participants – Get recognized for your efforts.      
      </p>
    </div>
  </div>
</section>
