---
import { Image } from 'astro:assets';
---

<section class='w-11/12 max-md:pt-10 pb-20 mx-auto max-w-5xl'>
  <div class='flex flex-col-reverse md:flex-row items-center'>
    <div class='w-full pt-6 sm:pt-8 md:pt-0 lg:pr-40 pb-6 md:pb-10'>
      <h2 class='text-4xl pb-6 md:pb-8 font-bold 2xl:text-5xl'>Goal of SOTC Hackathon</h2>

      <div class='max-w-2xl text-neutral-100 space-y-4 md:space-y-6'>
        <p class='text-neutral-400 font-medium'>
          The SOTC Hackathon is designed for absolute beginners who want to explore, 
          learn, and build using Free and Open-Source Software (FOSS). Our goal is to introduce juniors to real-world problem-solving, collaborative coding,
           and the power of open-source contributions.
        </p>


        <div class='max-w-2xl text-neutral-100 space-y-4 md:space-y-6'>
          <p class='text-neutral-400 font-medium'>
            
          </p>
  
          <p class='text-neutral-400 font-medium'>
            Through this week-long hackathon, we aim to:
          </p>
          <ul class='list-disc list-inside text-neutral-400 font-medium'>
            <li>Help students practically apply their programming skills.</li>
            <li>Encourage the use of free software tools for development.</li>
            <li>Promote team collaboration and problem-solving.</li>
            <li>Make learning fun, engaging, and rewarding.</li>
          </ul>
        </div>
      </div>
    </div>

    <figure class='grow-0 shrink-0'>
      <Image
        width={500}
        height={500}
        loading='lazy'
        src='/motivate.gif'
        class='size-96'
        alt='Person looking at the phone'
      />
      <figcaption class='sr-only'>
        <em>Illustration from https://storyset.com</em>
      </figcaption>
    </figure>
  </div>

  </div>
</section>
